aws_region             = "us-east-1"
environment            = "prod"
project_name           = "cloudforge"
vpc_cidr               = "10.30.0.0/16"
availability_zones     = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs    = ["10.30.1.0/24", "10.30.2.0/24"]
private_subnet_cidrs   = ["10.30.11.0/24", "10.30.12.0/24"]
single_nat_gateway     = false
db_instance_class      = "db.t4g.small"
db_multi_az            = true
db_deletion_protection = true
ecs_desired_count      = 2
ecs_cpu                = 512
ecs_memory             = 1024
image_tag              = "latest"
alert_email            = ""
github_owner           = "solomonkim98"
github_owner_id        = "REPLACE_AFTER_REPO_CREATION"
github_repo            = "cloudforge"
github_repo_id         = "REPLACE_AFTER_REPO_CREATION"
github_oidc_provider_arn = "REPLACE_WITH_BOOTSTRAP_OUTPUT"
enable_github_oidc     = true
