aws_region             = "us-east-1"
environment            = "dev"
project_name           = "cloudforge"
vpc_cidr               = "10.20.0.0/16"
availability_zones     = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs    = ["10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs   = ["10.20.11.0/24", "10.20.12.0/24"]
single_nat_gateway     = true
db_instance_class      = "db.t4g.micro"
db_multi_az            = false
db_deletion_protection = false
ecs_desired_count      = 1
ecs_cpu                = 256
ecs_memory             = 512
image_tag              = "latest"
alert_email            = ""
github_owner           = "solomonkim98"
github_owner_id        = "REPLACE_AFTER_REPO_CREATION"
github_repo            = "cloudforge"
github_repo_id         = "REPLACE_AFTER_REPO_CREATION"
github_oidc_provider_arn = "REPLACE_WITH_BOOTSTRAP_OUTPUT"
enable_github_oidc     = false
